.card-container {
  width: 90%;
  background-color: black;
  color: yellow;
  margin: auto;
  position: relative;
  border-radius: 10px;
  text-align: center;
  height: 150px;
  cursor: pointer;
}

.card-title {
  color: red;
  font-weight: bold;
  padding-top: 5px;
}

.bottom-bar {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 95%;
  margin: auto;
}

.upvote,
.downvote,
.comments,
.votes {
  border: 3px solid red;
  width: 50px;
  margin: auto;
  height: 28px;
  border-radius: 15px;
}

.upvote, .downvote {
  padding-top: 5px;
}

.description {
  box-shadow: white 0 0 1px 1px;
  width: 95%;
  margin: auto auto 10px auto;
  height: 50px;
  max-width: 95%;
  border-radius: 10px;
  overflow: hidden;
}

.author {
  margin-top: -18px;
  margin-bottom: 0px;
  font-size: 15px;
}
