.full-card-container {
background-color: black;
margin: 200px auto;
width: 60%;
height: 600px;
box-shadow: red 0px 0px 10px 5px;
border: 3px solid yellow;
text-align: center;
position: relative;
}

.full-card-title{
    color: red;
   font-size: 50px;
   font-weight: bold;
}

.full-card-author{
    color: red;
    margin-top: 0px;
}

.full-card-description{
    color: red;
    background-color: yellow;
    width: 80%;
    margin: auto;
    min-height: 200px;
    text-align: left;
    font-size: 20px;
    padding: 5px;
    word-wrap: break-word;
}


.full-card-bottom-bar{ 
background-color: yellow;
margin: 10px auto;
bottom: 0;
width: 80%;
height: 40px;
display: grid;
grid-template-columns: repeat(4, 1fr);
}
   
.upvote{
}

.downvote{}

.commnets{}

.votes{}

.full-card-arrow {
    color: red;
    position: absolute;
    margin: 0 0 0 30px;
    font-size: 50px;
    cursor: pointer;
}