.full-card-container {
background-color: black;
margin: 200px auto;
width: 720px;
min-height: 600px;
box-shadow: red 0px 0px 10px 5px;
border: 3px solid yellow;
text-align: center;
position: relative;
padding-bottom: 70px;
}

.full-card-title{
    color: red;
   font-size: 50px;
   font-weight: bold;
}

.full-card-author{
    color: red;
    margin-top: 0px;
}

.full-card-description{
    color: red;
    background-color: yellow;
    width: 80%;
    margin: auto;
    min-height: 200px;
    text-align: left;
    font-size: 20px;
    padding: 5px;
    word-wrap: break-word;
}


.full-card-bottom-bar{ 
background-color: yellow;
margin: 10px auto;
bottom: 0;
width: 80%;
height: 40px;
display: grid;
grid-template-columns: repeat(3, 1fr);
}
   
.upvote{
}

.downvote{}

.commnets{}

.votes{}

.full-card-arrow {
    color: red;
    position: absolute;
    margin: 0 0 0 30px;
    font-size: 50px;
    cursor: pointer;
}

.full-card-comment-bar {
    position: absolute;
    display: grid;
    grid-template-columns: 5fr 50px;
    grid-gap: 50px;
    width: 80%;
    margin: auto auto auto 10%;
}

.add-comment {
    color: red;
    background-color: yellow;
    text-shadow: 1px 1px black;    
    font-size: 30px;
    border-radius: 40%;
    cursor: pointer;
    
}

.full-card-comment {
    background-color: yellow;
    min-height: 40px;
    padding: 1px;
    border-radius: 10px;
    text-align: center;
    color: red;
}

@media  only screen and (max-width:360px) {
    .full-card-container {
        background-color: black;
        margin: 200px 1px 5px 1px;
        width: 360px;
        min-height: 600px;
        box-shadow: red 0px 0px 10px 5px;
        border: 3px solid yellow;
        text-align: center;
        position: relative;
        padding-bottom: 70px;
        }
        
        .full-card-title{
            color: red;
           font-size: 40px;
           font-weight: bold;
        }
        
        .full-card-author{
            color: red;
            margin-top: 0px;
        }
        
        .full-card-description{
            color: red;
            background-color: yellow;
            width: 80%;
            margin: auto;
            min-height: 200px;
            text-align: left;
            font-size: 20px;
            padding: 5px;
            word-wrap: break-word;
        }
        
        
        .full-card-bottom-bar{ 
        background-color: yellow;
        margin: 10px auto;
        bottom: 0;
        width: 80%;
        height: 40px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        }
           
        .upvote{
        }
        
        .downvote{}
        
        .commnets{}
        
        .votes{}
        
        .full-card-arrow {
            color: red;
            position: absolute;
            margin: 0 0 0 30px;
            font-size: 50px;
            cursor: pointer;
        }
        
        .full-card-comment-bar {
            position: absolute;
            display: grid;
            grid-template-columns: 5fr 50px;
            grid-gap: 50px;
            width: 80%;
            margin: auto auto auto 10%;
        }
        
        .add-comment {
            color: red;
            background-color: yellow;
            text-shadow: 1px 1px black;    
            font-size: 30px;
            border-radius: 40%;
            cursor: pointer;
            
        }
        
        .full-card-comment {
            background-color: yellow;
            min-height: 40px;
            padding: 1px;
            border-radius: 10px;
            text-align: center;
            color: red;
        }
}

@media only screen and (max-width: 420px) {
    .full-card-container {
        background-color: black;
        margin: 200px 1px 5px 1px;
        width: 360px;
        min-height: 600px;
        box-shadow: red 0px 0px 10px 5px;
        border: 3px solid yellow;
        text-align: center;
        position: relative;
        padding-bottom: 70px;
        }
        
        .full-card-title{
            color: red;
           font-size: 40px;
           font-weight: bold;
        }
        
        .full-card-author{
            color: red;
            margin-top: 0px;
        }
        
        .full-card-description{
            color: red;
            background-color: yellow;
            width: 80%;
            margin: auto;
            min-height: 200px;
            text-align: left;
            font-size: 20px;
            padding: 5px;
            word-wrap: break-word;
        }
        
        
        .full-card-bottom-bar{ 
        background-color: yellow;
        margin: 10px auto;
        bottom: 0;
        width: 80%;
        height: 40px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        }
           
        .upvote{
        }
        
        .downvote{}
        
        .commnets{}
        
        .votes{}
        
        .full-card-arrow {
            color: red;
            position: absolute;
            margin: 0 0 0 30px;
            font-size: 50px;
            cursor: pointer;
        }
        
        .full-card-comment-bar {
            position: absolute;
            display: grid;
            grid-template-columns: 5fr 50px;
            grid-gap: 50px;
            width: 80%;
            margin: auto auto auto 10%;
        }
        
        .add-comment {
            color: red;
            background-color: yellow;
            text-shadow: 1px 1px black;    
            font-size: 30px;
            border-radius: 40%;
            cursor: pointer;
            
        }
        
        .full-card-comment {
            background-color: yellow;
            min-height: 40px;
            padding: 1px;
            border-radius: 10px;
            text-align: center;
            color: red;
        }
}