/* HEADER ------------------- */
.header {
  z-index: 1;
  position: fixed;
  width: 90%;
  border: 3px solid yellow;
  background-color: black;
  height: 170px;
  text-align: center;
  margin: -40px 0 0 5%;
  box-shadow: red 0px 0px 10px 5px;
}

.header h3 {
  color: red;
  margin-top: 5px;
}

.login {
  position: absolute;
  right: 3%;
  top: 60%;
  transform: translateY(-50%);
  width: 200px;
  height: 100px;
}
.username {
  background-color: yellow;
  height: 30px;
  max-width: 100px;
  border-radius: 20px;
  position: absolute;
  left: 10%;
  text-align: center;
  font-weight: bold;
  color: red;
}

.login button {
  position: absolute;
  left: 10%;
  top: 60%;
  transform: translateY(-50%);
  border: none;
  outline: none;
  background-color: yellow;
  height: 30px;
  border-radius: 25px;
  width: 100px;
  font-size: 18px;
  font-weight: bold;
  color: red;
}

.login button:hover {
  box-shadow: red 0px 0px 10px 3px;
  scale: 1.1;
}

.user {
  position: absolute;
  right: 5%;
  color: red;
  background-color: yellow;
  width: 50px;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  font-size: 35px;
  font-weight: bold;
}

.logo {
  position: absolute;
  left: 4%;
  top: 20%;
  height: 100px;
}

.search-bar {
  width: 30%;
  margin: auto;
  height: 30px;
  bottom: 10%;
}

.search-input {
  max-width: 150px;
  background-color: yellow;
  height: 100%;
  color: red;
  border-radius: 20px;
  text-align: center;
}

.search-input:hover {
  box-shadow: red 0px 0px 10px 3px;
}

::placeholder {
  color: red;
  font-weight: bold;
}

.search-bar button {
  color: red;
  margin-left: 20px;
  background-color: yellow;
  list-style: none;
  height: 100%;
  border-radius: 30%;
  font-size: 15px;
  font-weight: bold;
}

.search-bar button:hover {
  transform: scale(1.1);
  box-shadow: red 0px 0px 10px 3px;
}

.create-bar {
  width: 30%;
  margin: 10px auto;
  height: 30px;
}

.create-post-button {
  width: 150px;
  background-color: yellow;
  height: 100%;
  color: red;
  border-radius: 20px;
  text-align: center;
  font-weight: bold;
  outline: none;

}

.create-post-button:hover {
  transform: scale(1.1);
  box-shadow: red 0px 0px 10px 3px;
}
.create-post-button:focus {
  background-color: yellow;
  color: red;
}





