.main-screen {
  width: 720px;
  background-color: darkgray;
  margin:  150px auto;
  box-shadow: rgb(75, 75, 2) 0px 0px 10px 5px;
  border-radius: 1%;
  padding-bottom: 20px;
  padding-top: 5px;
}


@media only screen and ( max-width: 360px) {
  .main-screen {
    width: 360px;
    background-color: darkgray;
    margin:  150px auto;
    box-shadow: rgb(75, 75, 2) 0px 0px 10px 5px;
    border-radius: 1%;
    padding-bottom: 20px;
    padding-top: 5px;
  }
}

@media only screen and (max-width: 420px) {
  .main-screen {
    width: 360px;
    background-color: darkgray;
    margin:  150px auto;
    box-shadow: rgb(75, 75, 2) 0px 0px 10px 5px;
    border-radius: 1%;
    padding-bottom: 20px;
    padding-top: 5px;
  }
}

